*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    background-color: #333;
}

nav {
    background-color: #424141;
    padding: 20px 0;
    height: 70px;
}

nav ul {
    list-style-type: none;
    /* margin: 4; */
    padding: 0;
    /* font-size: 20px; */
    display: flex;
    /* margin-left: 5px; */
    margin-left: 25px;

}

nav ul li {
    margin: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.resume-button {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    transition: background-color 0.3s;
    margin-right: 10px;    
}

.Hire-button {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    transition: background-color 0.3s;
    margin-right: 5px;    
}

.resume-button:hover {
    background-color: #45a049;
}

.Hire-button:hover {
    background-color: #45a049;
}
